
%h1.centered Contacts name

.row
  .span4.offset4
    .messages
      - messages.each do |message|
        .message{class: [(('sent' unless message.type == 1) or 'recieved'), 'span3']}
          = message.message
          .time
            = (time_ago_in_words(message.sent_at) rescue 'unknown time') + " ago"
