%h1 Listing conversations

%table.table
  %thead
    %tr
      %th Conversations

  %tbody
    - conversations.each do |c|
      %tr
        %td
          = link_to c, account_conversation_messages_path(account, c)
