/*
 * =require twitter-bootstrap-static/bootstrap
 * =require twitter-bootstrap-static/fontawesome
 */

#navbar-fix
  margin-top: 50px


.centered
  text-align: center

.messages

  .message
    padding: 5px
    margin: 10px
    clear: both
    border-radius: 5px

  .sent
    text-align: right !important
    background-color: #dedede
    float: right

  .recieved
    background-color: #92d33f

  .time
    color: #5d5d5d
    font-weight: 200
    text-align: right
